@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans+Narrow:wght@400;700&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    background-color: rgb(215, 215, 215);
    color: black  ;
    font-size: 20px; 
    font-weight:normal ;
    font-family:'Merriweather';
    font: 20px normal 'Merriweather' ,sans-serif
}
h1{
    font-size: 35px;
}
h2{
    font-size: 24px;
}
.ava{
    width: 350px;
    border-radius: 24px;
    box-shadow: 10px 10px 25px;
}
.info2{
    display: flex;
    margin-bottom: 20px;
}
.info2text{
    margin: 34px;
    padding: 34px;
}
.table5{
   width: 100%;
}
